<!DOCTYPE html>
<html lang="en">
	<body>
		{{ include "parts/head.vto" }}
		<h1><b>getchoo's website 🦕</b></h1>
		{{ include "parts/nav.vto" }}
		{{ content }}
		{{ include "parts/footer.vto" }}
	</body>
</html>
