---
links:
  - name: home
    url: "/"
  - name: miniflux
    url: "https://miniflux.mydadleft.me"
  - name: github
    url: "https://github.com/getchoo"
---

<!DOCTYPE html>
<html lang="en">
	{{ comp.head({ title, description })}}

	<body class="bg-base">
		{{ comp.nav({ links }) }}
		{{ content }}
		{{ comp.footer() }}
	</body>
</html>
