<div class="headerbar">
	<div id="links" class="flex gap-3">
		<button onclick="window.location.href='/'">
			home
		</button>
		<button onclick="window.location.href='/blog'">
			blog
		</button>
		<button onclick="window.location.href='https://github.com/getchoo'">
			github
		</button>
	</div>
</div>