# zola build dir
dist/
public/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# nix stuff
.direnv/
result*
repl-result*
.pre-commit-config.yaml

# IDE stuff
.vscode/
.idea/
