<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<style>{{ load_data(path="static/main.css") | safe }}</style>
	<link rel="sitemap" href="sitemap.xml" />
	{% if page.title %}
		<title>{{ page.title }} :: {{ config.title }}</title>
	{% elif section.title %}
		<title>{{ section.title }} :: {{ config.title }}</title>
	{% else %}
		<title>{{ config.title }}</title>
	{% endif %}
	{% if page.description %}
		<meta name="description" content="{{ page.description }}" />
	{% elif section.description %}
		<meta name="description" content="{{ section.description }}" />
	{% else %}
		<meta name="description" content="{{ config.description }}" />
	{% endif %}
</head>
