<head>
	<meta charset="UTF-8" />
	{% if page.title %}
		{% set title = page.title %}
	{% elif section.title %}
		{% set title = section.title %}
	{% else %}
		{% set title = config.title %}
	{% endif %}
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	{% if page.description %}
		{% set description = page.description %}
	{% elif section.description %}
		{% set description = section.description %}
	{% else %}
		{% set description = config.description %}
	{% endif %}
	<meta name="description" content="{{ description }}" />
	<link rel="sitemap" href="sitemap.xml" />
	<link rel="stylesheet" href={{ get_url(path="/style.css") }} />
</head>
