<head>
	<meta charset="UTF-8" />
	<title>{{ it.title }}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="/main.css" inline />
	<link rel="sitemap" href="/sitemap.xml" />
</head>
