{% block header %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <title>{{ title }}</title>
      <meta name="description" content="{{ description }}"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link rel="stylesheet" href="/guzzle.css"/>
    </head>
  {% endblock %}
  <body>
    {% block container %}
      <div class="container">
        {% block body %}
          <div class="content">
            {% block content %}
              {{ content | safe }}
            {% endblock %}
          </div>
        {% endblock %}
      {% endblock %}
    </div>
    <br \>
    <footer>
      {% block footer %}
        <a href="https://github.com/getchoo/getchoo.github.io">source</a>
        commit:
      {% endblock %}
    </footer>
  </body>
</html>