---
layout: "layouts/base.njk"
---

<div class="container">
	<div class="content">
		{{ content | safe }}
	</div>
	<div id="gifs">
		<div id="gif">
			<img src="/imgs/gifs/legalize.gif" width="88" height="31" loading="lazy" decoding="async" alt="legalize now!"/>
			<img src="/imgs/gifs/acab.gif" width="88" height="31" loading="lazy" decoding="async" alt="acab"/>
			<img src="/imgs/gifs/poweredbyfedora.gif" width="88" height="31" loading="lazy" decoding="async" alt="powered by fedora"/>
			<img src="/imgs/gifs/capitalism.gif" width="88" height="31" loading="lazy" decoding="async" alt="let's crush capitalism!"/>
		</div>
		<div id="gif">
			<img src="/imgs/gifs/anybrowser.gif" width="88" height="31" loading="lazy" decoding="async" alt="best viewed with any browser"/>
			<img src="/imgs/gifs/weezer.gif" width="88" height="31" loading="lazy" decoding="async" alt="weezer fan"/>
			<a href="https://dnsense.pub/">
				<img src="/imgs/gifs/steam.gif" width="88" height="31" loading="lazy" decoding="async" alt="play with steam"/>
			</a>
			<img src="/imgs/gifs/vi.gif" width="88" height="31" loading="lazy" decoding="async" alt="made with vi"/>
			<img src="/imgs/gifs/pride.gif" width="88" height="31" loading="lazy" decoding="async" alt="pride"/>
			<img src="/imgs/gifs/imagine.gif" width="88" height="31" loading="lazy" decoding="async" alt="imagination"/>
		</div>
		<div id="gif">
			<img src="/imgs/gifs/moz.gif" width="88" height="31" loading="lazy" decoding="async" alt="mozilla is cool"/>
			<img src="/imgs/gifs/free.gif" width="88" height="31" loading="lazy" decoding="async" alt="completely free software"/>
			<img src="/imgs/gifs/gimp.gif" width="88" height="31" loading="lazy" decoding="async" alt="graphics by gimp"/>
			<img src="/imgs/gifs/explorer.gif" width="88" height="31" loading="lazy" decoding="async" alt="marijuana mind explorer"/>
			<img src="/imgs/gifs/jsfree.gif" width="88" height="31" loading="lazy" decoding="async" alt="javascript free"/>
			<img src="/imgs/gifs/web3.gif" width="88" height="31" loading="lazy" decoding="async" alt="keep the web free! say no to web3!"/>
			<img src="/imgs/gifs/tired.gif" width="88" height="31" loading="lazy" decoding="async" alt="tired"/>
			<img src="/imgs/gifs/arnold.gif" width="88" height="31" loading="lazy" decoding="async" alt="hey arnold!"/>
			<img src="/imgs/gifs/bob.gif" width="88" height="31" loading="lazy" decoding="async" alt="powered by bob"/>
			<img src="/imgs/gifs/counterstrike.gif" width="88" height="31" loading="lazy" decoding="async" alt="counter-strike player"/>
			<img src="/imgs/gifs/chris.gif" width="88" height="31" loading="lazy" decoding="async" alt="chris troll" id="chris_gif"/>
		</div>
	</div>
</div>