---
import Page from "@layouts/Page.astro";
import { Image } from "@astrojs/image/components";
const title = "404!";
const description = title;
---

<Page title={title} description={description}>
	<h1>404! :(</h1>
	<Image
		src="/imgs/tapwater.png"
		width={500}
		height={515}
		class="mx-auto"
		format="webp"
		quality={90}
		decoding="async"
		alt="can i get you some tapwater?"
	/>
</Page>
