---
import Index from "@layouts/Index.astro";
import { Image } from "@astrojs/image/components";
const title = "guzzle guzzle";
const description = title;
---

<Index title={title} description={description}>
	<script src="../scripts/chrisApp.ts"></script>
	<h1 class="bg-base w-fit h-fit mx-auto rounded p-5 text-text">
		<b>getchoo's website 🚀</b>
	</h1>

	<br />

	<p>this is under construction. i'm experimenting with astro</p>

	<Image
		src="/imgs/gifs/obras.gif"
		width={106}
		height={119}
		class="mx-auto"
		format="webp"
		quality={90}
		loading="lazy"
		decoding="async"
		alt="construction"
	/>

	<a href="/lul">hehe funny click me</a>
</Index>
