---
import Base from "@layouts/Base.astro";
const title = "fard";
const description = "xd";
---

<Base title={title} description={description}>
	<div class="flex justify-center p-5">
		<video width="1280" height="720" controls autoplay muted>
			<source src="/files/rickroll.mp4" type="video/mp4" />
		</video>
	</div>
</Base>
