---
import { execa } from "execa";
import Picture from "astro/components/Picture.astro";
import gifs from "@assets/gifs";

const { stdout: gitCommit } = await execa("git", ["rev-parse", "HEAD"]);
---

<footer class="text-xs text-subtext1 my-10 text-right space-y-2">
	<div class="hidden md:flex flex-wrap justify-around">
		{
			gifs.map(({ gif, alt }) => {
				const img = <Picture src={gif} alt={alt} formats={["gif"]} />;

				if (gif.src.includes("steam.gif")) {
					return <a href="https://dnsense.pub/">{img}</a>;
				} else if (gif.src.includes("poweredbynix.svg")) {
					return <a href="https://github.com/sakecode">{img}</a>;
				} else {
					return img;
				}
			})
		}
	</div>
	<p>
		Served from commit {gitCommit.substring(0, 8)} (<a
			href="https://github.com/getchoo/website">source</a
		>)
	</p>
</footer>
