---
import { execa } from "execa";
import "@styles/global.sass";

const { stdout: gitCommit } = await execa("git", ["rev-parse", "HEAD"]);
---

<div class="flex">
	<div class="flex flex-col items-center gap-1 p-3 mx-auto">
		<a
			class="text-text text-xs"
			href="https://github.com/getchoo/getchoo.github.io">source</a
		>
		<p class="text-text text-xs">commit: {gitCommit}</p>
	</div>
</div>
