---
import Picture from "astro/components/Picture.astro";
import gifs from "@assets/gifs";
---

<div id="gifs">
	{
		gifs.map(({ image, alt }) => {
			const img = <Picture src={image} alt={alt} formats={["gif"]} />;

			if (image.src.includes("steam")) {
				return <a href="https://dnsense.pub/">{img}</a>;
			} else if (image.src.includes("poweredbynix")) {
				return <a href="https://github.com/sakecode">{img}</a>;
			} else {
				return img;
			}
		})
	}
</div>
