---
const navLinks = [
	{ name: "Home", url: "/" },
	{ name: "About Me", url: "/about-me" },
	{ name: "Contact", url: "/contact" },
	{ name: "GitHub", url: "https://github.com/getchoo" },
];
---

<nav class="navbar">
	<div class="navbar-start"></div>
	<div class="navbar-center">
		<!-- FIXME: Using a grid to scale this on mobile is dumb -->
		<ul
			class="not-prose menu menu-horizontal grid grid-cols-2 gap-2 lg:flex"
		>
			{
				navLinks.map(({ name, url }) => (
					<li>
						<a class="prose btn text-lg lg:text-xl" href={url}>
							{name}
						</a>
					</li>
				))
			}
		</ul>
	</div>
	<div class="navbar-end"></div>
</nav>
