---
import config from "@root/astro.config.ts";

interface NavLink {
	name: string;
	url: string;
}

const minifluxUrl = process.env.MINIFLUX_URL || `https://miniflux.${Astro.url.hostname || config.site}`;

const links: NavLink[] = [
	{ name: "home", url: "/" },
	{
		name: "miniflux",
		url: minifluxUrl,
	},
	{
		name: "github",
		url: "https://github.com/getchoo",
	},
];
---

<nav class="space-y-5 text-xl my-5">
	<p class="space-x-2">
		{links.map(({ name, url }) => <a href={url}>{name}</a>)}
	</p>

	<hr />
</nav>
