{% extends "base.html" %}

{% block content %}
	{{ section.content | safe }}

	<div class="gif-buttons">
		{% for button in config.extra.buttons %}
			<div class="gif-button">
				{% set imageTag = '<img
				  src="/imgs/buttons/' ~ button.name ~ '"
				  alt="' ~ button.alt ~ '"
				  width=88
				  height=31
				  decoding="async"
				  loading="lazy"
				>' %}
				{% if button.link %}
					<a href="{{ button.link }}">{{ imageTag | safe }}</a>
				{% else %}
					{{ imageTag | safe }}
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock content %}
