---
title: "404!"
description: "404!"
layout: page.vto
---

<h1>404! :(</h1>
<img
	src="/imgs/tapwater.png"
	width="500"
	height="515"
	class="mx-auto"
	decoding="async"
	alt="can i get you some tapwater?"
/>
