---
layout: "base.vto"
title: "404!"
description: "Can I get you some tapwater?"
---

<h1>404 :(</h1>

<img
	src="/imgs/tapwater.png"
	alt="Can I get you some tapwater?"
	loading="lazy"
	decoding="async"
>
