---
title: "404!"
description: "404!"
layout: page.vto
---

<div class="space-y-5">
	<h1>404! :(</h1>

	<img
		src="/imgs/tapwater.png"
		class="my-5"
		decoding="async"
		alt="can i get you some tapwater?"
	/>
</div>
