---
title: fard
description: xd
layout: layouts/base.njk
---

<div id="vidya">
	<video width="1280" height="720" controls autoplay muted>
		<source src="/files/rickroll.mp4" type="video/mp4"/>
	</video>
</div>