---
title: "fard"
description: "xd"
layout: base.vto
---

<div class="flex justify-center p-5">
	<video width="1280" height="720" controls autoplay muted>
		<source src="/files/rickroll.mp4" type="video/mp4" />
	</video>
</div>
