---
import Head from "@components/Head.astro";
import Nav from "@components/Nav.astro";
// import Footer from "@components/Footer.astro";
import { execa } from "execa";
import "@styles/global.sass";

const { title, description } = Astro.props;

const { stdout: gitCommit } = await execa("git", ["rev-parse", "HEAD"]);
---

<!DOCTYPE html>
<html lang="en">
	<Head title={title} description={description} />

	<body class="bg-base">
		<Nav />
		<slot />
		<!-- <Footer /> -->
		<div class="flex flex-col items-center mt-12">
			<p class="text-text text-xs">{gitCommit}</p>
		</div>
	</body>
</html>
