---
import Head from "@components/Head.astro";
import Footer from "@components/Footer.astro";
import Nav from "@components/Nav.astro";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<Head title={title} description={description} />

	<body class="bg-base">
		<Nav />
		<slot />
		<Footer />
	</body>
</html>
