---
import Base from "@layouts/Base.astro";
const { title, description } = Astro.props;
---

<Base title={title} description={description}>
	<div class="container">
		<div class="content" id="blogpost">
			<slot />
		</div>
	</div>
</Base>
