---
import Base from "@layouts/Base.astro";
const { title, description } = Astro.props.frontmatter || Astro.props;
---

<Base title={title} description={description}>
	<div class="blogpost">
		<slot />
	</div>
</Base>
